@tailwind base;
@tailwind components;
@tailwind utilities;

th {
  text-align: start;
  padding: 10px 15px;
}
td {
  padding: 10px 15px;
}

.t-b {
  width: 90%;
}
tr:nth-child(even) {
  background-color: #94a3b8;
}
