@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&family=Space+Grotesk:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

@layer base {
  :root {
    --background: 40 15% 96%;
    --foreground: 0 0% 11%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 11%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 11%;
    --primary: 0 0% 11%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 95%;
    --secondary-foreground: 0 0% 11%;
    --muted: 0 0% 95%;
    --muted-foreground: 0 0% 42%;
    --accent: 0 0% 95%;
    --accent-foreground: 0 0% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 0 0% 87%;
    --input: 0 0% 87%;
    --ring: 0 0% 11%;
    --radius: 0.75rem;
  }

  .dark {
    --background: 30 6% 10%;
    --foreground: 43 31% 89.9%;
    --card: 30 6% 12%;
    --card-foreground: 43 31% 89.9%;
    --popover: 30 6% 8%;
    --popover-foreground: 43 31% 89.9%;
    --primary: 35 31% 61%;
    --primary-foreground: 30 6% 10%;
    --secondary: 30 6% 15%;
    --secondary-foreground: 43 31% 89.9%;
    --muted: 30 6% 15%;
    --muted-foreground: 43 9% 67.6%;
    --accent: 35 31% 61%;
    --accent-foreground: 30 6% 19%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
    --border: 30 6% 20%;
    --input: 30 6% 20%;
    --ring: 35 31% 61%;
  }
}

@layer base {
  * {
    @apply border-border transition-all duration-300;
  }

  body {
    @apply bg-background text-foreground;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading;
  }

  html {
    scroll-behavior: smooth;
  }
}
